<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
  <profiles>
    <profile>
      <id>syndesis</id>
      <repositories>
       <repository>
         <id>maven-central</id>
         <name>Central Repository for Maven builds</name>
         <url>http://central.maven.org/maven2/</url>
         <layout>default</layout>
       </repository>
       <repository>
         <id>maven-redhat</id>
         <name>Repository for Maven builds</name>
         <url>https://maven.repository.redhat.com/earlyaccess/all</url>
         <layout>default</layout>
       </repository>
       <repository>
         <id>maven-redhat-2</id>
         <name>Repository for Maven builds</name>
         <url>https://repository.jboss.org/nexus/content/groups/ea/</url>
         <layout>default</layout>
       </repository>
       <repository>
           <id>syndesis-local</id>
           <name>Repository for Syndesis builds</name>
           <url>file:///tmp/maven-syndesis-extension-1.0.0.fuse-000018</url>
           <layout>default</layout>
       </repository>
      </repositories>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>syndesis</activeProfile>
  </activeProfiles>
</settings>
